{% extends 'layouts/application.html' %}

{% block content %}

  <main class="page-content" data-module="ProgressController">
    <header class="header">
      {{ sprite('logo', '0 0 183 42') }}
    </header>

    <section class="cards">
      {# Miles completed vs left #}
      <div class="card-row -pink -miles">
        <div class="card-progress">
          {{ sprite('radial', '0 0 120 120', 'card-progress__total') }}
          {{ sprite('radial', '0 0 120 120', 'card-progress__completed') }}
        </div>
        <div class="card">
          <div class="card__body"></div>
          <h2 class="card__title">miles run</h2>
        </div>
        <div class="card -faded">
          <div class="card__body"></div>
          <h2 class="card__title">miles to go</h2>
        </div>
      </div>

      {# Days completed vs left #}
      <div class="card-row -turquoise -days">
        <div class="card-progress">
          {{ sprite('radial', '0 0 120 120', 'card-progress__total') }}
          {{ sprite('radial', '0 0 120 120', 'card-progress__completed') }}
        </div>
        <div class="card">
          <div class="card__body">10</div>
          <h2 class="card__title">days since start</h2>
        </div>
        <div class="card -faded">
          <div class="card__body">119</div>
          <h2 class="card__title">days to go</h2>
        </div>
      </div>

      {# Current pace vs required #}
      <div class="card-row -orange -pace">
        <div class="card-icon">
          {{ sprite('check') }}
        </div>
        <div class="card">
          <div class="card__body">1.3</div>
          <h2 class="card__title">miles per day</h2>
        </div>
        <div class="card -faded">
          <div class="card__body">1.25</div>
          <h2 class="card__title">required pace</h2>
        </div>
      </div>

      <div class="card-row -smaller -other">
        <div class="card -yellow">
          <div class="card__body">9</div>
          <h2 class="card__title">runs total</h2>
        </div>

        <div class="add-run">
          <button class="add-btn">
            {{ sprite('plus') }} add a run
          </button>
        </div>

        {#
        <div class="card">
          <div class="card__body">2</div>
          <h2 class="card__title">weeks in</h2>
        </div>
        <div class="card">
          <div class="card__body">14</div>
          <h2 class="card__title">weeks left</h2>
        </div>
        #}

      </div>
    </section>

    <section class="map">
      <div class="map__bg">
        {{ sprite('usa-mexico', '0 0 1027 937') }}
        {{ sprite('route', '0 0 1027 937', '-total-route') }}
        {{ sprite('route', '0 0 1027 937', '-progress-route') }}
      </div>

      <div class="map__current-state">
        <div class="map__current-state__icon">
          {{ sprite('dc', '0 0 277 272') }}
        </div>
        <div class="map__current-state__text">
          <div class="map__current-state__label">Currently running through</div>
          <div class="map__current-state__name"></div>
        </div>
      </div>
    </section>

    <div class="modal-container">
      <div class="modal-dialog">
        <div class="modal-dialog__title"></div>

      </div>
    </div>

{% endblock %}
