.add-run {
  position: relative;
}

.add-btn {
  align-items: center;
  display: flex;

  svg {
    fill: currentColor;
    margin-right: units(1);
    stroke: currentColor;
    stroke-width: 2px;
    transition: transform timing();
    width: 15px;
  }

  @include hover {
    svg {
      transform: rotate(90deg);
    }
  }
}