.button {
  background-color: color(yellow);
  color: color(clay);
  font-size: 18px;
  font-weight: 700;
  opacity: 0.5;
  padding: units(1) units(2);
  transition: opacity timing();

  @include hover {
    box-shadow: 0 0 20px #222;
    opacity: 1;
    outline: none;
  }
}