.cards {
  padding-left: units(3);
}

.card-row {
  align-items: center;
  display: flex;
  padding: units(1);

  &.-smaller {
    border-top: 2px solid color(darkClay);
    // color: rgba(#fff, 0.8);
    justify-content: center;
    margin: units(2);
    text-align: center;

    .card__body {
      // font-size: 60px;
      margin-bottom: units(1);
    }
  }
}

.card-progress {
  height: 70px;
  position: relative;
  transform: rotate(-90deg);
  width: 70px;

  svg {
    fill: none;
    left: 0;
    position: absolute;
    stroke-width: 10px;
    stroke: currentColor;
    top: 0;
    width: 70px;
  }
}

.card-progress__total {
  opacity: 0.2;
}

.card-progress__completed {
  stroke-dasharray: 314;
  stroke-dashoffset: 314;
}

.card-icon {
  stroke: currentColor;
  width: 70px;
  fill: currentColor;
}

.card {
  margin: units(1.5);

  &.-faded {
    opacity: 0.3;
  }
}

.card__title {
  color: rgba(#fff, 0.5);
  margin-top: -10px;
  padding: 0 10px;
}

.card__body {
  font-size: 100px;
  line-height: 1;
}
