.add-run {
  position: relative;
}

.manage-run {
  display: flex;
  flex-direction: column;
  margin-left: units(2);

  button {
    align-items: center;
    display: flex;
    margin-right: units(1);
    width: 100%;

    svg {
      fill: currentColor;
      margin-right: units(1);
      stroke: currentColor;
      stroke-width: 2px;
      transition: transform timing();
      width: 15px;
    }

    &.-animate {
      @include hover {
        svg {
          transform: rotate(90deg);
        }
      }
    }
  }

  .add-run {
    margin-bottom: units(1);
  }
}