.map {
  align-items: flex-start;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  position: relative;
  padding-top: 100px;
  transition: filter timing();

  .-modal-is-active & {
    // filter: blur(2px);
  }
}

.map__bg {
  svg {
    position: absolute;
    top: 0;
    pointer-events: none;
    right: 0;
    width: 800px;
  }
}

.map__current-state {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: units(1) units(2);
  background: color(darkClay);
  position: relative;
  z-index: 2;
}

.map__current-state__icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: units(3);
  background-color: color(clay);
  box-shadow: inset 0 0 10px color(darkClay);

  svg {
    width: 60px;
    fill: color(pink);
  }
}

.map__current-state__text {
  position: relative;
  z-index: 2;
  color: rgba(#fff, 0.5);
}

.map__current-state__label {
  font-size: 14px;
  text-transform: lowercase;
  margin-bottom: units(0.5);
}

.map__current-state__name {
  color: #fff;
  font-size: 30px;
}

.-usa-mexico {
  opacity: 0.1;

  svg {
    stroke: #fff;
  }
}

.-total-route {
  svg {
    stroke: rgba(color(pink), 0.2);
  }
}

.-progress-route {
  svg {
    stroke: color(pink);
    stroke-dasharray: 807;
    stroke-dashoffset: 807;
    transition: stroke-dashoffset 3s;
  }
}


// all temp
@keyframes dash {
  to {
    stroke-dashoffset: 705;
  }
}


