@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translateX(2px);
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translateX(-4px);
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translateX(4px);
    transform: translate3d(4px, 0, 0);
  }
}