body {
  background-color: color(clay);
  font-family: font(sans-serif);
  font-weight: 300;
  height: 100vh;
  overflow: hidden;
}

//Eliminate outline for mouse users
html[data-whatinput="mouse"] *:focus {
  outline: none;
}